
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="border border-dark box">
                <div style="text-align: center;" class="pt-5">
                    <button class="btn btn-success" (click)="show()">SHOW</button>
                </div>
                <div>
                    <span style="color: green; font-weight:bold">EXPECTED RESULT: </span>    <br><br>
                    {{newDetails}}
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>